.home {
  background-image: linear-gradient(
      rgba(245, 246, 252, 0.72),
      rgba(245, 246, 252, 0.72)
    ),
    url("../Resource/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
}

.home__form {
  padding: 200px 0 50px 0;
}

.home__button {
  margin: 0 0 0 -20px;
  padding: 15px 25px;
}

.home__input {
  height: 56px;
}

.home__button:focus {
  outline: 0;
  box-shadow: none;
}

.home__input:focus {
  outline: none;
  box-shadow: none;
}

.home__title {
  text-transform: uppercase;
  margin: 0 0 15px 0;
}

.home__title {
  font-size: 15px;
  overflow: hidden;
  white-space: pre;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}
